<div style="position:relative; @(position) @(border) background-color: white; width: max-content;">
    @{#pragma warning disable BL0005}
    <div>
        <button @onclick="() => { Type = LinkType.Angled; Diagram.Links.DefaultType = Type; TypeChanged?.Invoke(Type); }" style="padding: 0; border:none; background-color: @(Type == LinkType.Angled ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><path d="M 0 4 L 8 4 L 8 12 L 16 12" fill="none" stroke="black" /></svg></button>
        <button @onclick="() => { Type = LinkType.Straight; Diagram.Links.DefaultType = Type; TypeChanged?.Invoke(Type); }" style="padding: 0; border: none; margin-left: -5px; background-color: @(Type == LinkType.Straight ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><path d="M 0 4 L 16 12" fill="none" stroke="black" /></svg></button>
        <button @onclick="() => { Type = LinkType.Curved; Diagram.Links.DefaultType = Type; TypeChanged?.Invoke(Type); }" style="padding: 0; border: none; margin-left: -5px; background-color: @(Type == LinkType.Curved ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><path d="M 0 4 C 8 4 8 12 16 12" fill="none" stroke="black" /></svg></button>
    </div>
    <div>
        <button @onclick="() => { Arrow = Arrow.None; Diagram.Links.DefaultArrow = Arrow; ArrowChanged?.Invoke(Arrow); }" style="padding: 0; border: none; background-color: @(Arrow == Arrow.None ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><path d="M 4 8 12 8" fill="none" stroke="black" stroke-dasharray="2 1" /></svg></button>
        <button @onclick="() => { Arrow = Arrow.Target; Diagram.Links.DefaultArrow = Arrow; ArrowChanged?.Invoke(Arrow); }" style="padding: 0; border: none; margin-left: -5px; background-color: @(Arrow == Arrow.Target ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><path d="M 4 8 12 8" fill="none" stroke="black" stroke-dasharray="2 1" /><polygon points="16,8 13,6 13,10" fill="black" /></svg></button>
        <button @onclick="() => { Arrow = Arrow.Both; Diagram.Links.DefaultArrow = Arrow; ArrowChanged?.Invoke(Arrow); }" style="padding: 0; border: none; margin-left: -5px; background-color: @(Arrow == Arrow.Both ? "lightgray" : "white")"><svg viewBox="0 0 16 16" style="height:2em; width:2.5em;"><polygon points="0,8 3,6 3,10" fill="black" /><path d="M 4 8 12 8" fill="none" stroke="black" stroke-dasharray="2 1" /><polygon points="16,8 13,6 13,10" fill="black" /></svg></button>
    </div>
    @{#pragma warning restore BL0005}
</div>

@code {
    [Parameter] public Position Position { get; set; }
    private string position => Position switch
    {
        Position.Top => "top: 0; margin-left: auto; margin-right: auto;",
        Position.TopRight => "top: 0; margin-left: auto;",
        Position.Right => "margin-left: auto; top: calc(50% - 2em);",
        Position.BottomRight => "margin-left: auto; top: calc(100% - 4em);",
        Position.Bottom => "top: calc(100% - 4em); margin-left: auto; margin-right: auto;",
        Position.BottomLeft => "top: calc(100% - 4em);",
        Position.Left => "top: calc(100% - 4em); top: calc(50% - 2em);",
        Position.TopLeft => "",
        _ => ""
    };
    private string border => Position switch
    {
        Position.Top => "border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;",
        Position.TopRight => "border-bottom: 1px solid black; border-left: 1px solid black;",
        Position.Right => "border-top: 1px solid black; border-bottom: 1px solid black; border-left: 1px solid black;",
        Position.BottomRight => "border-top: 1px solid black; border-left: 1px solid black;",
        Position.Bottom => "border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;",
        Position.BottomLeft => "border-top: 1px solid black; border-right: 1px solid black;",
        Position.Left => "border-top: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;",
        Position.TopLeft => "border-bottom: 1px solid black; border-right: 1px solid black;",
        _ => "border-bottom: 1px solid black; border-right: 1px solid black;"
    };
    [CascadingParameter] private Diagram Diagram { get; set; }
    [Parameter] public LinkType Type { get; set; }
    [Parameter] public Action<LinkType> TypeChanged { get; set; }
    [Parameter] public Arrow Arrow { get; set; }
    [Parameter] public Action<Arrow> ArrowChanged { get; set; }
}
