@page "/modification_from_code"
<SourceCodeLink Repository="Blazor.Diagrams" Page="@(nameof(AddAndRemoveFromCode))" />

<Diagram>
    <Nodes>
        @foreach (var node in nodes)
        {
            <Node Id="@node.Id" @bind-X="node.X" @bind-Y="node.Y" Type="@node.Type">
                <div style="min-width:4em; min-height:1em">@node.Id.Substring(0, 6)</div>
            </Node>
        }
    </Nodes>
    <Links>
        @foreach (var link in links)
        {
            <Link Source="@link.Source" Target="@link.Target" />
        }
    </Links>
    <OverviewSettings Position="Position.BottomRight" ViewableAreaBorderColor="green" ViewableAreaFillColor="white"
                      BackgroundColor="#DDDDDD" ViewableAreaBorderWidth="1" FullBorder="true" />
</Diagram>

<button @onclick="() => { nodes.Add(new MyNode { Id = Guid.NewGuid().ToString(), X = 100, Y = 100, Type = NodeType.Rectangle }); }">Add rectangle</button>
<button @onclick="() => { nodes.Add(new MyNode { Id = Guid.NewGuid().ToString(), X = 100, Y = 100, Type = NodeType.Ellipse }); }">Add ellipse</button>
<button @onclick="() => { if (nodes.Any()) { nodes.RemoveAt(0); } }">Remove first node</button>
<button @onclick="() => { if (nodes.Count < 2) { return; } var rnd = new Random(); var source = nodes.OrderBy(_ => rnd.NextDouble()).First(); var target = nodes.Except(new[] { source }).OrderBy(_ => rnd.NextDouble()).First(); links.Add(new LinkData { Source = new NodeAnchor { NodeId = source.Id }, Target = new NodeAnchor { NodeId = target.Id } }); }">Add random link</button>
<button @onclick="() => { if (links.Any()) { links.RemoveAt(0); } }">Remove first link</button>

@code {
    class MyNode
    {
        public string Id { get; set; }
        public double X { get; set; }
        public double Y { get; set; }
        public NodeType Type { get; set; }
    }
    private List<MyNode> nodes = new List<MyNode>
    {
    };
    private List<LinkData> links = new List<LinkData>
    {
    };
}
